
Welcome to the CTF!

While you may live in a yellow submarine, your services live in {{ PRIMER_GUEST_SERVICES_PATH }}!

You can find a guide to the magical mystery tour that is the iCTF at https://all-you-need-is.ictf.love/howto.
Unless you are the walrus, we recommend giving it a read---there's some good information there!

By default, ssh authentication via password is enabled, and all the vulnboxes start with the
same password! Make sure to disable password authentication and add your ssh keys so other teams
can't get into your vulnbox---sometimes you really can get by without some "help" from your friends!

Good luck and get ready for a hard day's night!

