Flask==0.10.1
Flask-Cache==0.13.1
Flask-Cors==3.0.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.12.2
argparse==1.2.1
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
itsdangerous==0.24
redis==2.10.3
redlock-py==1.0.5
requests==2.6.0
saferedisqueue==3.0.0
six==1.11.0
wsgiref==0.1.2
ujson
setuptools
pyOpenSSL
ndg-httpsclient
pyasn1
ujson