<div ng-repeat="service in services">
    <div class='row-fluid'>
        <div class='span12'>
            <h2>
                <span class='glyphicon glyphicon-screenshot'>
                </span>
                {{service.name}}
                <small>
                    Port: {{service.port}}
                </small>
            </h2>
            <blockquote>
                <p>
                    {{service.description}}
                </p>
            </blockquote>
            <div ng-controller='ToggleCtrl'>
                <button class='btn' ng-click="toggle()">
                    <span class='glyphicon glyphicon-flag'>
                    </span>
                    Show flag identifiers
                </button>
                <div ng-show="visible">
                    <p>
                        Flag identifier:   {{service.flag_id.description}}
                    </p>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>
                                    Team
                                </th>
                                <th>
                                    Flag Identifier
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='flag_id in service.flag_id.flag_ids'>
                                <td>
                                    {{flag_id.team_id}}
                                </td>
                                <td>
                                    {{flag_id.flag_id}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
