setuptools-rust
cryptography==3.2
wheel
requests
awscli
boto3
coloredlogs
ipaddress
python-vagrant
PyYAML
requests
ansible
appdirs
botocore
chardet
Cheetah
colorama
configobj
decorator==4.4.2
docutils
futures
Glances
html5lib
httplib2
humanfriendly
Jinja2
jmespath
jsonpatch
jsonpointer
Markdown==1.7
MarkupSafe
monotonic
oauth
packaging
PAM
paramiko
pexpect
prettytable==1.0.1
psutil
pyasn1
pycrypto
pycurl
pyparsing
pyserial
pyOpenSSL
ndg-httpsclient
pyasn1
python-apt
python-dateutil
python-debian
rsa
s3transfer
simplegeneric
urllib3
virtualenv
zope.interface
python-logstash
