requests
awscli
boto3
coloredlogs
ipaddress
ipython
python-vagrant
PyYAML
requests
ansible
appdirs
botocore
chardet
Cheetah
colorama
configobj
decorator
docutils
futures
Glances
html5lib
httplib2
humanfriendly
Jinja2
jmespath
jsonpatch
jsonpointer
MarkupSafe
monotonic
oauth
packaging
PAM
paramiko
pexpect
prettytable
psutil
pyasn1
pycrypto
pycurl
pyparsing
pyserial
pyOpenSSL
ndg-httpsclient
pyasn1
python-apt
python-dateutil
python-debian
rsa
s3transfer
simplegeneric
urllib3
virtualenv
zope.interface
python-logstash