version: '3.4'

services:

    ictf_gamebot:
        image: ictf_gamebot
        sysctls:
            - net.core.somaxconn=65535
        environment:
            - LOGSTASH_ID=gamebot
            - RABBIT_ENDPOINT={{ DISPATCHER_IP }}
            - RABBIT_USERNAME=dummy
            - RABBIT_PASSWORD=dummy
            - NUM_SCRIPTBOTS={{ NUM_SCRIPTBOTS }}
        ports:
            - "9100:9100"
