<!doctype html>
<head>
  <title>Database API Documentation</title>
</head>
<body>
  <h1>Documentation for the database API for the 2013 iCTF</h1>

  <p>This page will document the API for the database for the 2013 iCTF</p>

  <h2>Get Current State</h2>
  <p>Make a request to /state?secret=&lt;secret&gt;</p>

  <p>The JSON response is the following:
<pre>
{
  "state_id": int,
  "game_id": int,
  "services": [List of {"service_id": int, "service_name": string, "port": int}],
  "scripts": [List of {"script_id": int, "is_bundle": (1 | 0) (1 if the script is a bundle, 0 if not), "type": ("exploit"|"benign"|"getflag"|"setflag"), "script_name": string, "service_id": int}]
  "run_scripts": [List of {"team_id": int (team_id to run scripts against),
                           "run_list": [Ordered list of int script_ids]}],
  "state_expire": int (approximate remaining seconds in this tick),
}
</pre>
  </p>


  <h2>Get Current Game Info (teams and services)</h2>
  <p>Make a request to /getgameinfo?secret=&lt;secret&gt;</p>

  <p>The JSON response is the following:
<pre>
{
  "services": [List of {"service_id": int, "service_name": string, "port": int, "flag_id_description": string description of the flag id, "description": string description of the service}],
  "teams": [List of {"team_id": int, "team_name": string, "ip_range": string as XXX.XXX.XXX}],
}
</pre>

  <h2>Get the Service State</h2>
  <p>Make a request to /getservicesstate?secret=&lt;secret&gt;</p>

  <p>The JSON response is the following:
<pre>
{
  "teams": [{ "team_id": int,
              "services": [List of {"service_id": int,
                                    "service_status": 2, 1, 0, -1 (2 is up, 1 is up but nonfunctional, 0 is down aka refusing connections, -1 not tested)}]
           }]
}
</pre>

  <h2>Get the Service State</h2>
  <p>Make a request to /getservicesstate/&lt;tickid&gt;?secret=&lt;secret&gt;</p>

  <p>The JSON response is the following:
<pre>
{
  "teams": [{ "team_id": int,
              "services": [List of {"service_id": int,
                                    "service_status": 2, 1, 0, -1 (2 is up, 1 is up but nonfunctional, 0 is down aka refusing connections, -1 not tested)}]
           }]
}
</pre>

 
  <h2>Set a Service's State (up, up_non_functional or down)</h2>
  <p>2 is up, 1 is up but nonfunctional, and 0 is down.</p>
  <p>Make a request to /setservicestate/&lt;teamid&gt;/&lt;serviceid&gt;?secret=&lt;secret&gt;&amp;status=(2|1|0)&amp;reason=&lt;why service is up (2), up but non functional (1), or down (0)(you choose)&gt;</p>

  <h2>Get all scripts</h2>

  <p>Make a request to /allscripts?secret=&lt;secret&gt;</p>
  <p>The JSON response is the following:</p>
<pre>
{
  "scripts" : [List of {"id" : int,
                        "type": ("exploit", "benign", "getflag", "setflag"),
                        "name": NULL if not ours,
                        "is_ours": (1|0, 1 if the script is ours, 0 if it's an attacker team),
                        "is_bundle": (1|0, 1 if a bundle, 0 if not),
                        "feedback": string or NULL,
                        "team_id" : int or NULL (NULL if it's our exploit), 
                        "service_id" : int, 
                        "is_working" : (0, 1, NULL)}]
}
</pre>


  <h2>Get specific script payload</h2>

  <p>Make a request to /script/&lt;script_id&gt;?secret=&lt;secret&gt;</p>
  <p>The JSON response is the following:</p>
  <pre>
{
  "payload" : string Base64 encoded payload,
  "id" : int,
  "type": ("exploit", "benign", "getflag", "setflag"),
  "name": NULL if not ours,
  "is_ours": (1|0, 1 if the script is ours, 0 if it's an attacker team),
  "is_bundle": (1|0, 1 if a bundle, 0 if not),
  "team_id" : int or NULL (NULL if it's our exploit), 
  "service_id" : int, 
  "is_working" : (0, 1, NULL)}]

}
  </pre>

  <h2>Result of running a script</h2>
  <p>Make a request to /ranscript/&lt;scriptid&gt;?secret=&lt;secret&gt;&amp;team_id=&lt;teamid&gt;&amp;error=&lt;error&gt;&amp;error_msg=&lt;message, can be NULL&gt;</p>

  <p>The JSON response is the following:</p>
<pre>
{
  "result" : "great success",
}
</pre>

  <h2>Get New Flag</h2>
  <p>Make a request to /newflag/&lt;teamid&gt;/&lt;serviceid&gt;?secret=&lt;secret&gt;</p>
  <p>The JSON response is the following:</p>
<pre>
{
  "flag" : string,
}
</pre>

  <h2>Set cookie and flag id</h2>
  <p>Make a request to /setcookieandflagid/&lt;flag&gt;?flag_id=&lt;flagid&gt;&amp;cookie=&lt;cookie&gt;&amp;secret=&lt;secret&gt;</p>
  <p>The JSON response is the following:</p>
<pre>
{
  "result" : "great success",
}
</pre>

  <h2>Get current flag, flag_id, cookie</h2>
  <p>Make a request to /getlatestflagandcookie/&lt;teamid&gt;/&lt;serviceid&gt;?secret=&lt;secret&gt;</p>
  <p>The JSON response is the following:</p>
<pre>
{
  "flag" : string (current flag),
  "cookie" : string (current cookie),
  "flag_id" : string (current flag id),
}
</pre>  

  <h2>Get current flag_id for all teams and services</h2>
  <p>Make a request to /getlatestflagids?secret=&lt;secret&gt;</p>
  <p>The JSON response is the following:</p>
<pre>
{
  "flag_ids" : { (team_id) : { (service_id) : (flag_id)} }
}

flag_ids will be a dictionary mapping team_ids to a dictionary mapping service_id to flag_ids. duh.

</pre>  


  <h2>Submit a flag from a team</h2>
  <p>Make a request to /submitflag/&lt;teamid&gt;/&lt;flag&gt;?secret=&lt;secret&gt;</p>
  <p>The JSON response is the following:</p>
<pre>
{
  "result" : "correct" | "ownflag" (do you think this is defcon?) | "incorrect" | "alreadysubmitted" | "notactive" (notactive means that the flag was valid but not active for this tick aka they stole the wrong flag_id),
  "points" : int if "result" is "correct", else NULL,
}
</pre>

  <h2>Get Scores</h2>
  <p>Make a request to /scores?secret=&lt;secret&gt;</p>
  <p>The JSON response is the following:</p>
<pre>
{
  "scores" : { team_id : int (score), ... }
}
</pre>


</body>
