version: '3.4'

volumes:
{% for team_id in range(1, num_teams + 1) %}
    {% for service_name in service_names %}
    volume_{{ service_name }}_{{ team_id }}:
    {% endfor %}
{% endfor %}
    
networks:
    ictf_net:

services:

    database:
        image: ictf_database
        hostname: database
        ports:
            - "5000:80"
        networks: 
          ictf_net:
            aliases: 
              - database.ictf
        sysctls:
          - net.core.somaxconn=65535

    gamebot:
        image: ictf_gamebot
        hostname: gamebot
        networks: 
          ictf_net:
            aliases: 
              - gamebot.ictf
        
    scoreboard:
        image: ictf_scoreboard
        hostname: scoreboard
        ports: 
            - "80:80"
        networks: 
          ictf_net:
            aliases: 
              - scoreboard.ictf

    teaminterface:
        image: ictf_teaminterface
        hostname: teaminterface
        ports: 
            - "8080:80"
        networks: 
          ictf_net:
            aliases: 
              - teaminterface.ictf

    logger:
        image: ictf_logger
        hostname: logger
        ports: 
            - "5601:5601"
        networks: 
          ictf_net:
            aliases: 
              - logger.ictf

#    router:
#        image: ictf_router
#        hostname: router
#        privileged: true
{% for scriptbot_id in range(1, num_scriptbots + 1) %}
    scriptbot{{ scriptbot_id }}:
        image: ictf_scriptbot
        hostname: scriptbot{{ scriptbot_id }}

        volumes:
            - type: bind
              source: /var/run/docker.sock
              target: /var/run/docker.sock

        environment:
            - BOT_ID={{ scriptbot_id }}
            - ALL_BOTS={{ num_scriptbots }}
            - IS_LOCAL_REGISTRY=1
            - API_SECRET={{ api_secret }}
            - REGISTRY_USERNAME="dummy"
            - REGISTRY_PASSWORD="dummy"
            - REGISTRY_ENDPOINT="dummy"

        networks: 
          ictf_net:
            aliases: 
              - scriptbot{{ scriptbot_id }}.ictf
{% endfor %}
{% for team_id in range(1, num_teams + 1) %}
    team{{ team_id }}:
        image: ictf_teamvm
        hostname: team{{ team_id }}

        volumes:
        {% for service_name in service_names %}
            - volume_{{ service_name }}_{{ team_id }}:/opt/ictf/services/{{ service_name }}
        {% endfor %}

        environment:
            - TEAM_ID={{ team_id }}
        
        entrypoint: /bin/bash -c "{{ teamvm_entrypoints[team_id - 1] }}"

        networks: 
          ictf_net:

{% endfor %}

{% for team_id in range(1, num_teams + 1) %}
    {% for service_name in service_names %}
    chall_{{ service_name }}_{{ team_id }}:
        image: {{ service_name }}
        hostname: chall_{{ service_name }}_{{ team_id }}

        volumes:
            - volume_{{ service_name }}_{{ team_id }}:/home/chall/service/

        networks: 
          ictf_net:
    {% endfor %}
{% endfor %}