*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

-A POSTROUTING -o tun+ -j MASQUERADE
COMMIT

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

-A POSTROUTING -o tun+ -j TTL --ttl-set 64
COMMIT

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:TEAM - [0:0]

-A INPUT   -i tun+ -j TEAM
-A FORWARD -i tun+ -j TEAM

# No fragments!
-A TEAM -f -j DROP

# No Christmas Tree or Null packets:
-A TEAM -p tcp --tcp-flags ALL ALL  -j DROP
-A TEAM -p tcp --tcp-flags ALL NONE -j DROP

# Restrict incoming connections:
-A TEAM -p tcp -m state --state ESTABLISHED,RELATED -j ACCEPT
-A TEAM -p tcp -m state --state NEW ! --dport 10000:10100 -j DROP
-A TEAM -p tcp -m state --state NEW ! -d 10.9.0.0/16 -j DROP
-A TEAM -p tcp -m state --state NEW ! --syn -j DROP
-A TEAM -p tcp -m state --state NEW -j ACCEPT

# Restrict ICMP traffic to pings:
-A TEAM -p icmp --icmp-type PING -d 10.9.0.0/16 -j ACCEPT
-A TEAM -p icmp --icmp-type PONG -j ACCEPT
-A TEAM -j DROP
COMMIT
