<div class='row-fluid'>
    <div class='span12'>
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        Rank
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        SLA
                    </th>
                    <th>
                        Attack score
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="score in scores | orderBy:'score':true">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        {{score.team_name}}
                    </td>
                    <td>
                        {{score.score['sla']}}
                    </td>
                    <td>
                        {{score.score['raw_score']}}
                    </td>
                    <td>
                        <b>
                            {{score.score['score']}}
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class='row-fluid' ng-hide='scores'>
    <div class='span12'>
        Loading ...
    </div>
</div>
