Source: sillybox
Section: unknown
Priority: extra
Maintainer: UCSB iCTF 2013 Team <ctf-admin@lists.cs.ucsb.edu>
Build-Depends: debhelper (>= 8), hardening-includes
Standards-Version: 3.9.4
Homepage: http://ictf.cs.ucsb.edu

Package: sillybox
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: sillybox service for the 2013 UCSB iCTF
 NOTE: this service is initially vulnerable - other teams can steal your flags!
 .
 You will need to patch it and keep it working for benign users.
 .
 Also, keep in mind we will automatically install new versions of the service
 if it becomes necessary. Make sure your patch does not get overwritten!

