version: '3.2'
services:
{% for service in SERVICES %}
      {{ service }}:
        image: {{ service}}
        build: ./{{ service }}
        volumes:
        - type: bind
          source: ./{{ service }}/ro
          target: /home/chall/service/ro
          read_only: true
        - type: bind
          source: ./{{ service }}/rw
          target: /home/chall/service/rw
        - type: bind
          source: ./{{ service }}/append
          target: /home/chall/service/append
        ports:
        - "{{ 10000 + loop.index }}:6666"
        restart: always
{% endfor %}